@import url("https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap");
.search_subscribe .subscribe_container form button, .search_subscribe .search_suggest_links a, .most_sold_items .product_card p, header li a {
  font-size: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
}

footer .logo p, .search_subscribe .subscribe_container p, .main_slider .container .main_slider_container p {
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
}

.explore_categories .category_card a, .most_sold_items .product_card span, .main_slider .container .main_slider_container a {
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}

.shop_our_offers .tablet_grid .description p, .shop_our_offers .phone_grid .description p, .shop_our_offers .watch_grid .description p, .shop_our_offers .laptop_grid .description p {
  font-size: 32px;
  font-family: Readex Pro;
  font-style: normal;
  font-weight: 400;
  line-height: 38.4px;
}

.search_subscribe .subscribe_container h3, .search_subscribe .title, .ideas_section .title, .explore_categories .title, .most_sold_items .title, .shop_our_offers .title {
  color: #000;
  text-align: center;
  font-size: 42px;
  font-family: Readex Pro;
  line-height: 52.5px;
  margin-bottom: 9px;
}

.ideas_section .sub_title, .explore_categories .category_card p, .explore_categories .sub_title, .most_sold_items .sub_title, .shop_our_offers .sub_title {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-family: Readex Pro;
  font-style: normal;
  line-height: 16.8px;
}

.container {
  max-width: 1294px;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

header li {
  margin-left: 33px;
}
header li a {
  color: #000;
  text-transform: uppercase;
}
header .nav_icons {
  display: flex;
}
header .navbar {
  padding: 30px 0;
}
@media screen and (max-width: 1024px) {
  header .navbar {
    padding: 30px 1rem;
  }
}

.main_slider .container {
  background-color: #DCE5E2;
  border-radius: 16px;
}
.main_slider .container .main_slider_container {
  min-height: 550px;
}
.main_slider .container .main_slider_container h1 {
  color: #000;
  font-size: 58px;
  font-family: Readex Pro;
  font-style: normal;
  font-weight: 400;
  line-height: 69.6px;
  margin-bottom: 19px;
  margin-top: 145px;
  margin-left: 56px;
}
@media screen and (max-width: 1024px) {
  .main_slider .container .main_slider_container h1 {
    margin-top: 50px;
  }
}
.main_slider .container .main_slider_container p {
  color: #000;
  margin-bottom: 45px;
  margin-left: 56px;
}
.main_slider .container .main_slider_container a {
  border-radius: 200px;
  border: 1px solid #000;
  color: #000;
  text-align: center;
  text-transform: capitalize;
  padding: 14px 63px;
  margin-left: 56px;
}
.main_slider .container .main_slider_container .main_slider_image {
  display: flex;
  align-items: flex-end;
}
.main_slider .container .owl-dots {
  position: absolute;
  right: 307px;
  bottom: 24px;
}
@media screen and (max-width: 1024px) {
  .main_slider .container .owl-dots {
    right: 175px;
  }
}
@media screen and (max-width: 428px) {
  .main_slider .container .owl-dots {
    right: 105px;
  }
}
@media screen and (max-width: 375px) {
  .main_slider .container .owl-dots {
    right: 75px;
  }
}
.main_slider .container .owl-dots .owl-dot span {
  display: block;
  width: 194px;
  height: 2px;
  background: #D6D6D6;
  margin-left: 34px;
}
@media screen and (max-width: 834px) {
  .main_slider .container .owl-dots .owl-dot span {
    width: 140px;
  }
}
@media screen and (max-width: 428px) {
  .main_slider .container .owl-dots .owl-dot span {
    width: 40px;
  }
}
@media screen and (max-width: 320px) {
  .main_slider .container .owl-dots .owl-dot span {
    width: 30px;
  }
}
.main_slider .container .owl-dots .owl-dot.active span {
  background: black;
}
.main_slider .container .owl-nav .owl-prev {
  background-image: url("../images/left_arrow_slider.svg");
  width: 14px;
  height: 26px;
  position: absolute;
  top: 262px;
}
.main_slider .container .owl-nav .owl-next {
  background-image: url("../images/right_arrow_slider.svg");
  width: 14px;
  height: 26px;
  position: absolute;
  top: 262px;
  right: 0;
}

.shop_our_offers .laptop_grid {
  height: 472px;
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.shop_our_offers .laptop_grid:hover {
  transform: translateY(20px);
}
.shop_our_offers .laptop_grid img {
  position: relative;
  left: 42px;
}
.shop_our_offers .laptop_grid .description {
  max-width: 192px;
  position: absolute;
  right: 42px;
}
.shop_our_offers .laptop_grid .description h5 {
  color: #000;
  text-align: right;
  font-size: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
}
.shop_our_offers .laptop_grid .description p {
  color: #000;
  text-align: right;
}
.shop_our_offers .watch_grid {
  height: 270px;
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  transition: transform 0.3s ease;
}
.shop_our_offers .watch_grid:hover {
  transform: translateY(20px);
}
.shop_our_offers .watch_grid .description {
  max-width: 128px;
  position: absolute;
  top: 87px;
  right: 42px;
  left: 469px;
}
@media screen and (max-width: 1024px) {
  .shop_our_offers .watch_grid .description {
    top: 30px;
    left: 370px;
  }
}
@media screen and (max-width: 834px) {
  .shop_our_offers .watch_grid .description {
    left: 115px;
  }
}
.shop_our_offers .watch_grid .description h5 {
  color: #000;
  text-align: right;
  font-size: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
}
.shop_our_offers .watch_grid .description p {
  color: #000;
  text-align: right;
}
.shop_our_offers .phone_grid {
  height: 792px;
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.shop_our_offers .phone_grid:hover {
  transform: translateY(20px);
}
@media screen and (max-width: 428px) {
  .shop_our_offers .phone_grid {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.shop_our_offers .phone_grid img {
  position: absolute;
  top: 144px;
  left: 16px;
}
.shop_our_offers .phone_grid .description {
  max-width: 250px;
  position: absolute;
  top: 552px;
  right: 31px;
  left: 31px;
  bottom: 144px;
}
.shop_our_offers .phone_grid .description h5 {
  color: #000;
  text-align: center;
  font-size: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
}
.shop_our_offers .phone_grid .description p {
  color: #000;
  text-align: center;
}
.shop_our_offers .tablet_grid {
  height: 792px;
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.shop_our_offers .tablet_grid:hover {
  transform: translateY(20px);
}
.shop_our_offers .tablet_grid img {
  position: absolute;
  top: 252px;
}
.shop_our_offers .tablet_grid .description {
  max-width: 233px;
  position: absolute;
  top: 114px;
  right: 40px;
  left: 39px;
  bottom: 582px;
}
.shop_our_offers .tablet_grid .description h5 {
  color: #000;
  text-align: center;
  font-size: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
}
.shop_our_offers .tablet_grid .description p {
  color: #000;
  text-align: center;
}

.most_sold_items {
  padding-top: 72px;
  padding-bottom: 27px;
}
.most_sold_items .sub_title {
  margin-bottom: 59px;
}
@media screen and (max-width: 834px) {
  .most_sold_items .product_card {
    text-align: center;
  }
}
.most_sold_items .product_card img {
  margin-bottom: 37px;
}
.most_sold_items .product_card h3 {
  color: #000;
  font-size: 22px;
  font-family: Readex Pro;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
}
.most_sold_items .product_card p {
  color: #4B4B4B;
  min-height: 51px;
}
.most_sold_items .product_card span {
  color: #000;
}

.explore_categories {
  padding-top: 47px;
  padding-bottom: 28px;
}
.explore_categories .sub_title {
  margin-bottom: 56px;
}
.explore_categories .category_card {
  border-radius: 16px;
  background: #F8F9FA;
  height: 453px;
  text-align: center;
  position: relative;
}
.explore_categories .category_card p {
  padding-top: 41px;
  margin-bottom: 0;
}
.explore_categories .category_card h3 {
  color: #000;
  text-align: center;
  font-size: 28px;
  font-family: Readex Pro;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 44px;
}
.explore_categories .category_card a {
  border-radius: 200px;
  border: 1px solid #000;
  color: #000;
  text-align: center;
  text-transform: capitalize;
  padding: 14px 63px;
}
.explore_categories .category_card img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.ideas_section {
  padding-top: 47px;
  padding-bottom: 24px;
}
.ideas_section .sub_title {
  margin-bottom: 56px;
}
.ideas_section .left_img {
  margin-bottom: 73px;
}
@media screen and (max-width: 1024px) {
  .ideas_section .left_img {
    width: 100%;
  }
}
.ideas_section .description p {
  color: #000;
  font-size: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 28px;
}
.ideas_section a {
  color: #000;
  font-size: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  text-transform: capitalize;
}

.search_subscribe {
  padding-top: 51px;
  padding-bottom: 19px;
}
.search_subscribe .title {
  margin-bottom: 24px;
}
.search_subscribe .search_container form {
  border-radius: 100px;
  border: 1px solid #C5C5C5;
  background: #F8F9FA;
  display: flex;
  margin-bottom: 30px;
}
.search_subscribe .search_container form button {
  border: none;
  background-color: transparent;
  margin-left: 17px;
}
.search_subscribe .search_container form input {
  width: 100%;
  display: inline-block;
  border: none;
  background-color: transparent;
  padding: 22px 20px;
}
.search_subscribe .search_suggest_links a {
  color: #000;
  border-radius: 200px;
  border: 1px solid #C5C5C5;
  background: #FFF;
  padding: 12px 22px;
  margin-bottom: 7px;
  display: inline-block;
}
.search_subscribe .subscribe_container {
  padding-top: 47px;
  padding-bottom: 43px;
  border-radius: 16px;
  background: #DCE5E2;
}
.search_subscribe .subscribe_container p {
  color: #000;
  text-align: center;
  margin-bottom: 14px;
}
.search_subscribe .subscribe_container img {
  margin-bottom: 18px;
}
.search_subscribe .subscribe_container form {
  border-radius: 54px;
  border: 1px solid #000;
  background: transparent;
  display: flex;
  margin: auto;
  max-width: 400px;
}
.search_subscribe .subscribe_container form button {
  border-radius: 0px 200px 200px 0px;
  background: #000;
  color: #FFF;
  text-align: center;
  padding: 16px 33px 17px 32px;
  border: none;
  width: 115px;
}
.search_subscribe .subscribe_container form input {
  width: 285px;
  display: inline-block;
  border: none;
  background-color: transparent;
  padding: 16px 0 17px 32px;
}

footer {
  background: #F8F9FA;
}
footer hr {
  width: 1350px;
  height: 1px;
  flex-shrink: 0;
  background: #DCE5E2;
  position: relative;
  left: -50px;
  margin-bottom: 52px;
}
@media screen and (max-width: 1024px) {
  footer hr {
    width: 100%;
    position: static;
  }
}
footer .logo img {
  margin-bottom: 18px;
}
footer .logo p {
  color: #000;
}
footer .footer_links ul {
  list-style: none;
  margin-bottom: 78px;
}
footer .footer_links ul li {
  color: #000;
  font-size: 22px;
  font-family: Readex Pro;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  margin-bottom: 14px;
}
footer .footer_links ul li:first-of-type {
  margin-bottom: 19px;
}
footer .footer_links ul li a {
  color: #000;
  font-size: 17px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/*# sourceMappingURL=style.css.map */
